@supports (display: grid) {
  .about-me {
    display: grid;
    background: $white;
    padding: 0em;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;


    .about-text{
      
      color: $gray;
      text-align: justify;
      padding-left: 5em;
      padding-right: 5em;
      padding-bottom: 5em;
      border-top: 0em;


    }

    .about-title{
      border-top: 10em;
    }

    h1{
      color: $gray;
      padding-top: 2em;
      &::after{
        content: '';
        width:20%;
        height: 4px;
        background: $gold;
        display: block;
        margin: .5em auto 0



      }
    }
    p{
      color: $gray;
    }
  }

}
