body {
  color: $white;
  font-family: $ff-ss;
  line-height: 1.6;
  background: $white;

  @include mq {
   font-size: 1.125rem;
}
}
img{

  max-width: 100%;
}
h1 {
  top: 250px;
  left: 250px;
  color: $dark-gray;
  line-height: 1;
  font-size: 3.125rem;
  &::after{
    content: '';
    width:20%;
    height: 4px;
    background: $gold;
    display: block;
    margin: .5em auto 0


  }

  span {
    color: $gold;
    font-family: $ff-ss;
    display: block;
    font-size: 5.5rem;
  }
}
h2{
  font-size: .5rem;
  color: $dark-gray;
  line-height: 1;

  @include mq {
    font-size: 3rem;
  }

}

.welcome-middle{
  width: 500px;
  height: 20%;
}

p {
  color: $white;
}
