footer {
  background: $dark-gray;
  padding: 5em 0;
  text-align: center;

}


.copyright {


  &::before {
    content: '';
    display: block;
    height: 1px;
    background: $white;
    margin-bottom: 4em;
  }
}
