$white: white;
$light-gray: rgb(255, 255, 255);
$gray: gray;
$dark-gray: rgba(78, 78, 78, 0.98);
$accent: rgb(69, 210, 241);
$ligth-blue: rgb(170, 214, 233);
$dark-blue: rgb(67, 141, 161);
$gold: rgb(238, 156, 46);
$blue: rgb(62, 127, 224);
$red: rgb(209, 99, 99);
$black: rgb(0, 0, 0);
